.field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid var(--color-violet);
    outline: none;

    &[type="search"] {
        padding-right: 40px;
        background-image: url('@/shared/assets/find.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: right 12px center;
    }

    &:focus {
        border-color: var(--color-black);
    }
}

.error {
    color: var(--color-red);
    font-size: 14px;
    position: absolute;
    bottom: -20px;
    padding-left: 5px;
    
}